* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom right,  #111822,#0b504e);
}

.header {
    background: linear-gradient(to bottom left, #0b504e,#111822);
    color: #cef3df;
    text-align: center;
    font-size: 1em;
    padding: 15px 0;
    box-shadow: #1f2937 0 5px 6px;
}

.filter {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.filter .btn {
    margin: 0 5px;
    border: none;
    outline: none;
    background-color: #1f2937;
    color: #3ae988;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 10px;
}

.filter .active-button {
    background-color: #0f766e;
    color: rgb(255, 255, 255);
}


.imageGallery {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 35px;
    padding: 10px 5%;
}

.imageGallery img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s ease-in-out;   
}

.imageGallery img:hover {
    transform: scale(1.05);
    box-shadow: black 0 5px 20px;
    border-radius: 10px;
}

.lightbox {
    inset: 0;
    background: rgb(0,0,0,0.9);
    position: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: scaleIn 0.3s ease forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.lightbox img {
  width: auto;
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
  object-fit: contain; 
  display: block;
}

#lightboxCaption {
  color: #fff;
  margin-top: 15px;
  font-size: 1.1em;
  text-align: center;
}

.lightboxContainer img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  z-index: 101;
}

.nav.prev {
  left: 50px;
}

.nav.next {
  right: 50px;
}

.nav:hover {
  color: #3ae988;
}

.close-btn {
  position: absolute;
  top: 19%;
  right: 25%;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .lightbox img {
    width: 80%;
    max-width: 60%;
  }

.nav {
    font-size: 1.5em;
    padding: 0 10px;
  }

#lightboxCaption {
    font-size: 1em;
    padding: 0 10px;
  }
}

